.jcarousel-skin-plain .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-plain .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-plain .jcarousel-clip-horizontal {
    height: 120px;
}
.jcarousel-skin-plain .jcarousel-item {
    width: 160px;
    height: 120px;
}
.jcarousel-skin-plain .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 4px;
}
.jcarousel-skin-plain .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
  margin-right: 0;
}
.jcarousel-skin-plain .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-plain .jcarousel-prev-horizontal,
.jcarousel-skin-plain .jcarousel-next-horizontal {
    position: absolute;
    top: 46px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: #000;
    border-radius: 16px;
    border: 3px solid #fff;
    opacity: 0;
    color: #fff;
    line-height: 19px;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}
.jcarousel-skin-plain:hover .jcarousel-prev-horizontal,
.jcarousel-skin-plain:hover .jcarousel-next-horizontal {
  opacity: 0.7;
}
.jcarousel-skin-plain .jcarousel-next-horizontal {
    right: 8px;
}
.jcarousel-skin-plain .jcarousel-prev-horizontal {
    left: 8px;
}

.jcarousel-skin-plain .jcarousel-prev-horizontal:hover,
.jcarousel-skin-plain .jcarousel-next-horizontal:hover {
    opacity: 1;
}

